@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

html, body{
  overflow-x: hidden;
  position: relative;
}

h1, h2{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #222222;
  padding: 0;
  margin: 0;
  font-size: 42px;
  z-index: 2;
  position: relative;
}

h3{
  font-family: 'Reenie Beanie', cursive;
  position: relative;
}

p{
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  z-index: 2;
}

@media screen and (min-width: 500px){
  p{
    font-size: 22px !important;
  }
}

button{
  font-family: 'Lato', sans-serif;
  border: none;
  z-index: 2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 6vh;
  pointer-events: none;
}

.App-header {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.bg-video-container{
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-color: transparent;
  overflow: hidden;
}

.bg-video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.first-content{
  height: 80vh;
  position: relative;
  min-height: 550px;
}

.first-content .first-content-text{
  background-color: #FDF0F4;
  background: url('../images/firstbg.png') no-repeat;
  background-size: cover;
  padding: 20px 30px 0 30vw;
  text-align: left;
  height: 90%;
  position: relative;
}

@media screen and (min-width: 750px){
  .first-content{
    height: 70vh;
  }

  .first-content .first-content-text{
    height: 90%;
  }
}

.first-content .first-content-text h1{
  padding: 30px 0 0 0;
  text-align: right;
}

@media screen and (min-width: 750px){
  .first-content .first-content-text h1{
    text-align: left;
  }
}

.first-content .first-content-text p{
  padding: 50px 0 50px 30px;
}

.first-content button{
  background: #222222;
  color: white;
  font-size: 17px;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  width: calc(100% - 60px);
  padding:  0;
  margin: 0 30px;
  box-sizing: border-box;
  height: 55px;
  letter-spacing: 3px;
}

@media screen and (min-width: 750px){
  .first-content button{
    position: relative;
    width: inherit;
    padding: 0 50px;
  }
}

@keyframes apparition{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.first-content .first-content-text .firstFlacon{
  top: 32px;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

.first-content img{
  animation: 4s ease-out 0s 1 apparition;
}



@media screen and (min-width: 750px){
  .first-content .first-content-text .firstFlacon{
    left: 10vw;
  }
}

.first-content .first-content-text img{
  height: 400px;
}

.second-content{
  display: block;
  margin: 60px 0;
  height: 60vh;
}

.second-content .second-content-text{
  background: #FCB945;
  padding: 20px 0 0 30px;
  margin-right: 50px;
  text-align: left;
  position: relative;
  height: 100%;
}

.second-content .second-content-text h2{
  color: white;
}

.second-content .second-content-text p{
  color: #222222;
  margin: 40px 0 20px 0;
  position: absolute;
  font-size: 17px;
  right: -30px;
  width: 220px;
}

@media screen and (min-width: 500px){

  .second-content{
    height: 60vh;
  }

  .second-content .second-content-text{
    height: 90%;
  }

  .second-content .second-content-text h2{
    margin-left: 30vw;
  }


  .second-content .second-content-text button{
    margin-left: 30vw;  
  }
  
  .second-content .second-content-text p{
    position: relative;
    width: 50%;
    margin-left: 30vw;
    margin-right: 50px;
  }

  .second-content .phone{
    position: absolute;
    left: 10vw;
    bottom: -60px;
    height: 100%;
  }

  .second-content .parallax-inner{
    height: 100%;
  }

  .second-content img{
    height: 100%;
  }
}

.second-content .second-content-text button{
  background: #222222;
  color: white;
  border: none;
  font-size: 17px;
  position: absolute;
  right: -30px;
  bottom: 70px;
  width: 220px;
  height: 55px;
  letter-spacing: 3px;
}

.third-content{
  display: block;
  margin: 60px 0;
  height: 80vh;
  text-align: left;
}

@media screen and (min-width: 500px){
  .third-content{
    height: 50vh;
  }
}

.third-content .third-content-text{
  background: #B6E6E7;
  padding: 20px 30px 0 30px;
  margin-right: 60px;
  text-align: left;
  position: relative;
  height: 70%;
}

@media screen and (min-width: 1000px){
  .third-content .third-content-text{
    padding: 20px 20% 0 10%
  }

  .third-content .third-content-text img{
    height: 500px;
  }
}

.third-content .third-content-text h2{
  color: white;
}

.third-content p{
  text-align: left;
  font-size: 17px;
  margin: 30px 70px 30px 30px;
}

.third-content button{
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  background: none;
  border-bottom: 1px solid #222222;
  color: #222222;
  margin-left: 30px;
  padding: 0;
}

.third-content img{
  position: absolute;
  right: -50px;
  bottom: 0;
  height: 270px;
}

.fourth-content{
  display: block;
  margin: 60px 0;
  text-align: left;
}

.fourth-content h2{
  font-size: 24px;
  z-index: 2;
  margin: 0;
  padding: 0;
  transform: translate(70px, 6px);
}

.fourth-content video{
  width: calc(100% - 30px);
  border: 20px solid #B6E6E7;
  margin-left: 30px;
}

@media screen and (min-width: 1000px){
  .fourth-content{
    text-align: center;
  }

  .fourth-content h2{
    font-size: 24px;
    z-index: 2;
    margin: 0;
    padding: 0 30px 0 0;
    text-align: center;
    transform: translateY(6px);
  }

  .fourth-content video{
    width: calc(100% - 50%);
    border: 20px solid #B6E6E7;
    margin: auto;
  }
}

.fivth-content{
  display: block;
  margin: 60px 0;
  height: 100vh;
  min-height: 800px;
  text-align: left;
}

.fivth-content .fivth-content-text{
  background-color: #B4D4BC;
  background: url('../images/lastbg.png') no-repeat;
  background-size: cover;
  padding: 20px 30px 0 30px;
  margin-right: 30px;
  text-align: left;
  position: relative;
  height: 530px;
  position: relative;
}

.fivth-content .fivth-content-text h2{
  color: white;
  font-size: 52px;
}

.fivth-content p{
  text-align: left;
  font-size: 17px;
  margin: 100px 30px 20px;
}

.fivth-content button{
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  background: none;
  border-bottom: 1px solid #222222;
  color: #222222;
  margin-left: 30px;
  padding: 0;
}

.fivth-content .flacon{
  margin: auto;
  left: 0;
  right: -60px;
  position: absolute;
  bottom: -16px;
  height: 400px;
  z-index: 2;
  animation: 4s ease-out 0s 1 apparition;
}

.fivth-content .capsule{
  left: 30px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  animation: 4s ease-out 0s 1 apparition;

}

.fivth-content .mandarine{
  position: absolute;
  bottom: -90px;
  right: 20px;
  z-index: 1;
}

.fivth-content .mandarine img{
  height: 250px;
}

.fivth-content .lavande{
  position: absolute;
  bottom: -150px;
  left: 30px;
  z-index: 4;
}

.fivth-content .lavande img{
  height: 250px;
}

@media screen and (min-width: 500px){
  .fivth-content .fivth-content-text{
    padding: 20px 20% 0 20%
  }

  .fivth-content p{
    padding: 0 20%;
  }

  .fivth-content button{
    padding: 0 20%;
    border: none;
    text-decoration: underline;
  }

  .fivth-content .capsule{
    margin: auto;
    left: -180px;
    right: -60px;
    position: absolute;
    bottom: -16px;
    z-index: 2;
    animation: 4s ease-out 0s 1 apparition;
  }

  .fivth-content .mandarine{
    right: 35%;
  }

  .fivth-content .lavande{
    left: 35%;
  }
}

.step{
  margin: 0 30px;
}

@media screen and (min-width: 500px){
  .step-container{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
  }

  .step-block{
    width: 30vw;
  }
}

.step h3{
  font-size: 93px;
  margin: 0;
  font-weight: 100;
}

.step p{
  font-size: 19px;
  padding: 10px;
  margin: 0;
}

.step .last{
  padding-top: 40px
}

.step img{
  width: 100%;
}

@media screen and (min-width: 500px){
  .step img{
    width: 30%;
  }
}

footer{
  background: #222222;
  min-height: 150px;
}

footer .rs{
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}

footer .link{
  padding: 20px 0 30px;
  display: flex;
  justify-content: space-around;
}

footer .link a{
  width: 33vw;
  color: white;
  text-decoration: none;
}

footer p{
  color: white;
  padding-bottom: 20px
}